.select-button {
    display: flex;
    align-items: center;
    width: 95%;
    margin-left: 5%;
    margin-bottom: 0.5%;
    height: 99%;
    justify-content: center;
    background-color: var(--unlock-button-color);
    color: var(--menu-text-color);
    border-radius: 4px;
    min-height: 70px;
    font-size: var(--small-font-size);
}

@media (pointer: none) or (pointer: fine) {
    .select-button:hover {
        background-color: var(--unlock-button-hover);
    }
}

.select-button:active {
    background-color: var(--unlock-button-active);
}


@media screen and (max-height: 500px),
screen and (max-width: 500px) {
    .select-button {
        min-height: 14vmin;
        font-size: var(--small-scaled-font-size)
    }
}